body{
	font-family: 'Montserrat', sans-serif;
}
header{
	background: url("img/bgheader.jpg");
	height: 659px;
	background-repeat: no-repeat;
	background-size: cover;
}
section{
	background: #fff;
	height: 659px;
}
ul{
	width: 100%;
	height: 40px;
	display: block;
}
ul li{
	display: block;
	float: left;
}
li a{
	color: white;
	font-size: 14px;
	padding: 8px;
	display: block;
	border-top: 5px solid transparent;
}
.activo, li a:hover{
	font-weight: bold;
	border-top: 5px solid #54d154;
	color: white;
	text-decoration: none;
}
.buscador{
	background: rgba(217,216,216,0.9);
	border: none;
	border-radius: 15px;
	height: 30px;
	padding: 7px 14px;
	font-size: 16px;
	color: #111111;
	width: 100%;
	margin-top: 5px;
}
#center-header{
	height: 565px;
}
#centradito{
	/*caje flex*/
	display: flex;
	/*centrar en horizontal*/
	justify-content: center;
	/*centrar en vertical*/
	align-items: center;
	/*para poner por debajito el work with us*/
	flex-direction: column;
}
.Learn{
	display: flex;
	justify-content: center;
}
#centradito3, #centradito2{
	display: flex;
	justify-content: center;
}
#centradito h1{
	color: #fff;
	font-weight: bold;;
	font-size: 55px;
}
#centradito a{
	background: #54d154;
	color: #fff;
	text-align: center;
	display: block;
	width: 205px;
	height: 49px;
	border-radius: 35px;
	padding: 8px 0;
	font-weight: normal;
	font-size: 21px;
}

 #centradito a:hover{
	text-decoration: none;
	background: #f34d04;
	transform: scale(1.05);
	transition: 0.5s ease all;
}
 #centradito2 a{
	background: #ebebe4;
	color: black;
	text-align: center;
	width: 100px;
	border-radius: 35px;
}
#centradito3 a:hover, #centradito2 a:hover{
	text-decoration: none;
	background: #f34d04;
	transform: scale(1.05);
	transition: 0.5s ease all;
}
#centradito3 a{
	margin-top: 50px;
	margin-bottom: 50px;
	background: #2b9b2b;
	color: black;
	text-align: center;
	width: 150px;
	border-radius: 35px;
}

#primero{
	font-size: 20px;
	margin-top: 30px;
	/*border-bottom: solid;*/
	color: #828181;
	letter-spacing: 2;
}
#primero:after{
	content: "";
	width: 44px;
	height: 1px;
	background: #828181;
	display: block;
	margin: 13px auto;
}
#segundo{
	text-align: center;
	color: #e2e1e1;

}
.titulo{
	margin-top: 15px;
	font-weight: bold;
	color: #828181
}
p{
	margin-top: 15px;
	color: #828181;
}
.centrar{
	margin-top: 85px;
	text-align: center;

}
.Learn a{
	text-decoration: none;
	background: #54d154;
	color: white;
	text-align: center;
	width: 100px;
	height: 25px;
	border-radius: 35px;
}
.bg_verde{
	background: #54d154;
	height: auto;
	width: auto;
}
.medida img{
	width: 160px;
	height: 160px;	
	margin-top: 20px;
/*para centrar la imagen*/
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}
/*.fondo{
	margin-left: 80px;
	background: white;
	width:310px;
	height: 39px;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
}*/
/*#prueba{
	padding-right: 5px;
	margin-left: 10px;
	color: gray;
}*/
#menu{
	margin-left: 80px;
}
#prueba1{
	background: white;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	border: solid 2px black;
	border-right: none;
	color: #2b9b2b
}
#fila a:hover{
	background: #2b9b2b;
	color: white;

}
#prueba2{
	margin-left: -5px;
	background:white;
	border:solid 2px black;
	width:100px;
	color: #2b9b2b
}
#prueba3{
	margin-left: -5px;
	background: white;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	border: solid 2px black;
	border-left: none;
	color: #2b9b2b
}
#contenedor{
	margin-top: 30px;
}